<h1> <%= @restaurant.name %> </h1>
<p> Type: <%= @restaurant.category %> </p>
<p> Address: <%= @restaurant.address %></p>
<p>Phone Number: <%= @restaurant.phone_number %></p>
<br>
<h3>Reviews</h3>
<% @restaurant.reviews.each do |review| %>
  <p> <%= review.content  %> -- Stars: <%= review.rating  %> </p>
<% end %>
<br>

<h3>Add a Review</h3>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating, input_html: { min: '0', max: '5', step: '1' } %>
  <%= f.input :content %>
  <%= f.submit "Add a review", class: "btn btn-primary" %>
<% end %>
<br>
<p><%= link_to 'Go Back', restaurants_path  %></p>
<br>
<br>
<br>
<br>
<br>

